@keyframes fade_in_out {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.clients {
	padding-top: 250px;
	position: relative;
	overflow: hidden;
	z-index: 1;

	.content {
		margin-top: 100px;
		z-index: 99;

		.client_card {
			width: 100%;
			height: 200px;
			border-radius: 15px;
			background: transparent;
			border: 0.5px solid rgba(255, 255, 255, 0.2);
			backdrop-filter: blur(30px);
			--webkit-backdrop-filter: blur(30px);
			background-color: rgba(255, 255, 255, 0.1);

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:hover {
				// background-image: url('../../assets/ClientBackgroudHover.png');
				// background-repeat: no-repeat;
				// background-size: cover;

				.img_container {
					min-width: 200px;
					height: 50px;
					background: url('../../assets/LogoWhiteClient.png');
					background-repeat: no-repeat;
					background-size: contain;
					transform: scale(1.1);
				}

				.light_bg {
					display: block;
					object-fit: cover;
					animation: fade_in_out 0.5s ease-in-out;
				}
			}

			.img_container {
				min-width: 200px;
				height: 50px;
				background: url('../../assets/LogoGray.png');
				background-repeat: no-repeat;
				background-size: contain;
				transition: all 0.3s ease-in-out;
			}
			.light_bg {
				display: none;
				position: absolute;
				top: 0;
			}
		}
	}

	.client_right_bg {
		position: absolute;
		top: 200px;
		right: -300px;
	}
}

@include desktop-screen {
	.clients {
		margin-top: 250px;

		.content {
			margin-top: 70px;

			.client_card {
				height: 180px;

				&:hover {
					.img_container {
						min-width: 180px;
						height: 50px;
					}
				}

				.img_container {
					min-width: 180px;
					height: 50px;
				}
			}
		}
	}
}

@include laptop-screen {
	.clients {
		margin-top: 250px;

		.content {
			margin-top: 70px;

			.client_card {
				height: 150px;

				&:hover {
					.img_container {
						min-width: 150px;
						height: 50px;
					}
				}

				.img_container {
					min-width: 150px;
					height: 50px;
				}
			}
		}
	}
}

@include laptop-screen {
	.clients {
		margin-top: 150px;
		text-align: center;

		.content {
			margin-top: 30px;

			.client_card {
				height: 110px;

				&:hover {
					.img_container {
						min-width: 118px;
						height: 27px;
					}
				}

				.img_container {
					display: flex;
					min-width: 118px;
					height: 27px;
				}
			}
		}

		.client_right_bg {
			position: absolute;
			top: 50px;
			right: -150px;
		}
	}
}
