.navbar {
	background: transparent;
	width: 100%;
	height: 100px;
	border-bottom: 0.5px solid #fff;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(30px);
	--webkit-backdrop-filter: blur(30px);
	position: absolute;
	top: 0;

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;

		.lg_page_links {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style: none;
			margin: 0;
			width: 100%;

			.logo {
				width: 200px;
				height: 45px;
				margin-right: 50px;

				img {
					width: 100%;
					height: 100%;
				}
			}

			li {
				a {
					font-family: 'Downey-Light';
					font-weight: 300;
					font-size: 16px;
					color: rgba(255, 255, 255, 0.6);
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						text-decoration: underline;
						color: #fff;
					}
				}
			}
		}

		.hamburger_menu {
			display: none;

			span {
				color: #fff;
				font-size: 25px;
				font-family: 'Downey';
				cursor: pointer;
			}

			.icon {
				font-size: 30px;
				color: #fff;
				cursor: pointer;
			}
		}

		.mobile_sidebar {
			display: none;
			position: absolute;
			top: 110px;
			right: 0;
			padding: 60px;
			align-items: center;
			justify-content: center;
			border-radius: 15px;

			border: 0.5px solid #fff;
			backdrop-filter: blur(30px);
			--webkit-backdrop-filter: blur(30px);
			background-color: #121019;

			.mb_links {
				display: flex;
				gap: 10px;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin: 0;
				text-align: center;
				list-style: none;

				li {
					a {
						font-family: 'Downey-Light';
						font-weight: 300;
						font-size: 16px;
						color: rgba(255, 255, 255, 0.8);
						text-decoration: none;
						text-transform: uppercase;

						&:hover {
							text-decoration: underline;
							color: #fff;
						}
					}

					.mb_social_links {
						display: flex;
						gap: 10px;
						margin-top: 10px;

						li {
							a {
								text-decoration: none;

								.icon {
									font-size: 30px;
									color: rgba(255, 255, 255, 0.4);
								}

								&:hover {
									.icon {
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@include desktop-screen {
	.navbar {
		.content {
			.lg_page_links {
				li {
					a {
						font-weight: 300;
						font-size: 16px;
					}
				}
			}
		}
	}
}

@include laptop-screen {
	.navbar {
		.content {
			.lg_page_links {
				li {
					a {
						font-weight: 300;
						font-size: 15px;
					}
				}
			}
		}
	}
}

@include tablet-screen {
	.navbar {
		.content {
			margin: 0 20px;

			.lg_page_links {
				li {
					display: none;
				}

				.logo {
					width: 172px;
					height: 39.93px;
					display: block;
				}
			}

			.hamburger_menu {
				display: block;
			}

			.mobile_sidebar {
				display: flex;
			}
		}
	}
}
