@keyframes rotate_img {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes fade_in_out {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.projects {
	padding-top: 300px;
	position: relative;
	overflow-x: hidden;
	z-index: 2;

	.ring_img_sm {
		position: absolute;
		display: none;
		top: 30%;
		left: -200px;
		width: 369.91px;
		height: 369.91px;
		animation: rotate_img 20s infinite linear;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.ring_img_lg {
		position: absolute;
		top: 150px;
		right: -200px;
		animation: rotate_img 20s infinite linear;

		img {
			width: 500px;
			height: 500px;
		}
	}

	.content {
		position: relative;

		.scroll_ball {
			position: absolute;
			bottom: 0;
			z-index: 100;
		}

		.br {
			position: absolute;
			height: 1px;
			bottom: 12.5px;
			background: rgba(255, 255, 255, 0.2);
			width: 100%;
		}

		.projects_row {
			margin-top: 100px;
			display: flex;
			gap: 50px;
			overflow-x: scroll;
			-ms-overflow-style: none;
			scrollbar-width: none;
			padding-right: 150px;
			width: 100%;
			min-width: 95vw;
			padding-bottom: 40px;

			&::-webkit-scrollbar {
				display: none;
			}

			.project {
				min-width: 550px;
				width: auto;
				height: 340px;
				border-radius: 15px;
				background: transparent;
				border: 0.5px solid rgba(255, 255, 255, 0.2);
				backdrop-filter: blur(30px);
				--webkit-backdrop-filter: blur(30px);
				background-color: rgba(255, 255, 255, 0.1);

				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				position: relative;

				.eular_img {
					object-fit: contain;
				}

				.eular_card_bg {
					position: absolute;
					display: none;
				}

				.eular_hover_img {
					position: absolute;
					display: none;
				}

				.eular_content {
					display: none;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					position: absolute;
					color: #fff;
					padding: 20px 24px;
					bottom: 0;
					animation: fade_in_out 0.5s ease-in-out;

					h6 {
						font-family: 'Downey';
						font-weight: bold;
						font-size: 14px;
						color: #fff;
						margin: 0;
						padding: 0;
					}

					p {
						margin: 0;
						padding: 0;
						font-size: 14px;
						font-family: 'Gotham';
						font-weight: 300;
					}
				}

				&:hover {
					.eular_content {
						display: flex;
					}

					.eular_card_bg {
						display: block;

						width: 100%;
						height: 100%;
						animation: fade_in_out 0.2s ease-in-out;

						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}

					.eular_hover_img {
						margin-top: -30px;
						display: block;
						animation: fade_in_out 0.5s ease-in-out;
					}
				}
			}
		}
	}

	.popup {
		position: fixed;
		width: 100vw;
		min-height: 100vh;
		z-index: 999;
		display: flex;
		align-items: center;
		margin: -8px;
		top: 50px;

		.project_details {
			width: 100%;
			max-height: calc(100% - 200px);
			background: transparent;
			border: 0.5px solid rgba(255, 255, 255, 0.2);
			backdrop-filter: blur(50px);
			--webkit-backdrop-filter: blur(50px);
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 15px;
			padding: 20px;

			p {
				margin-top: 20px;
				color: #fff;

				font-family: 'Gotham';
				font-weight: 300;
				font-size: 14px;
				line-height: 20px;
				text-align: left;
				color: #fff;
			}

			img {
				margin-top: 30px;
				max-height: 50%;
				width: 100%;
				height: 300px;

				object-fit: contain;
			}

			span {
				font-family: 'Downey';
				font-size: 20px;
				color: #fff;
				cursor: pointer;
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}
}
@include desktop-screen {
	.projects {
		margin-top: 250px;

		.content {
			.projects_row {
				margin-top: 75px;
				gap: 50px;

				.project {
					min-width: 35%;
					height: 300px;

					.eular_img {
						width: 350px;
						height: 200px;
					}

					.eular_content {
						padding: 20px 24px;

						h6 {
							font-size: 14px;
						}

						p {
							font-size: 14px;
							font-weight: 300;
						}
					}

					&:hover {
						.eular_content {
						}

						.eular_card_bg {
						}

						.eular_hover_img {
							margin-top: -30px;
							display: block;

							width: 320px;

							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}
					}
				}
			}
		}
	}
}

@include laptop-screen {
	.projects {
		margin-top: 250px;

		.content {
			.projects_row {
				margin-top: 75px;
				gap: 50px;

				.project {
					min-width: 35%;
					height: 250px;

					.eular_img {
						width: 250px;
					}

					.eular_content {
						padding: 15px 20px;

						h6 {
							font-size: 12px;
							margin-top: 4px;
						}

						p {
							font-size: 12px;
							font-weight: 300;
						}
					}

					&:hover {
						.eular_hover_img {
							margin-top: -30px;
							display: block;

							width: 250px;
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}

@include tablet-screen {
	.projects {
		.ring_img_sm {
			display: block;
		}

		.ring_img_lg {
			display: none;
		}

		h1 {
			text-align: center;
		}
		margin-top: 150px;

		.content {
			.projects_row {
				margin-top: 30px;
				gap: 30px;
				flex-direction: column;
				width: 100%;
				padding: 0;

				width: 100%;
				min-width: 100%;

				.project {
					min-width: 35%;
					height: 200px;

					.eular_img {
						width: 250px;
					}

					.eular_content {
						padding: 15px 20px;

						h6 {
							font-size: 12px;
							margin-top: 4px;
						}

						p {
							font-size: 12px;
							font-weight: 300;
						}
					}

					&:hover {
						.eular_hover_img {
							margin-top: -30px;
							display: block;

							width: 250px;
							object-fit: contain;
						}
					}
				}
			}
		}

		.popup {
			margin: 0;
			.project_details {
				max-height: calc(100% - 200px);
				h1 {
					text-align: left;
					font-size: 25px;
					margin: 0;
				}

				p {
					margin-top: 20px;
					font-size: 12px;
				}

				img {
					max-height: 50%;
					width: 100%;
					height: 300px;

					object-fit: contain;
				}

				span {
					font-size: 25px;
				}
			}
		}
	}
}
