* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background: #121019;
}

h1 {
	font-family: 'Downey', sans-serif;
	font-size: 70px;
	font-weight: bold;
	color: #fff;
}

h2 {
	font-family: 'Downey', sans-serif;
}

p {
	font-family: 'Gotham', sans-serif;
}

ul {
	padding: 0;
}
