* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background: #121019;

	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
}

h1 {
	font-family: 'Downey', sans-serif;
	font-size: 60px;
	line-height: 120%;
	font-weight: bold;
	color: #fff;

	span {
		// font-family: 'Gotham';
		margin-left: 40px;
		font-weight: 900;
	}
}

h2 {
	font-family: 'Downey', sans-serif;
}

p {
	font-family: 'Gotham', sans-serif;
	margin: 0;
}

ul {
	padding: 0;
}

.sections {
	position: relative;

	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../../assets/noise.gif');
		background-repeat: repeat;
		opacity: 0.04;
		top: 0;
		z-index: 1;
	}
}

@include desktop-screen {
	h1 {
		font-size: 50px;
	}
}
@include laptop-screen {
	h1 {
		font-size: 40px;
	}
}
@include tablet-screen {
	h1 {
		font-size: 30px;
	}
}
