* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background: #121019;

	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
}

h1 {
	font-family: 'Downey', sans-serif;
	font-size: 70px;
	font-weight: bold;
	color: #fff;
}

h2 {
	font-family: 'Downey', sans-serif;
}

p {
	font-family: 'Gotham', sans-serif;
	margin: 0;
}

ul {
	padding: 0;
}

@include desktop-screen {
	h1 {
		font-size: 50px;
	}
}
@include laptop-screen {
	h1 {
		font-size: 40px;
	}
}
@include tablet-screen {
	h1 {
		font-size: 30px;
	}
}
