// Poppins Font
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Downey';
	src: url('./Downey.otf') format('opentype');
}

@font-face {
	font-family: 'Downey-Light';
	src: url('./Downey-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham';
	src: url('./Gotham.ttf') format('truetype');
}
